@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.header ul {
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 15px;
}

a {
  text-decoration: none;
  color: rgb(83, 83, 83);
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 600px;
}

button { 
  flex: 1;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 20px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  align-items: center;
  background-color:#eeeeee;
}

.footer ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}